<div class="mx-auto w-full py-12">
  <h1 class="font-normal text-3xl mb-2" id="reservation_form">Optional Questions</h1>
  <p class="text-sm mt-2 mb-8">Answers to these questions help us with additional planning but are not required.</p>

  <%= turbo_frame_tag dom_id(@reservation, 'optional') do %>
    <%= render "optional_form", reservation: @reservation %>
  <% end %>

</div>
